include /includes/mixins/ext_a

section.achievements
  h1.target#achievements: a(href="#achievements") achievements
  .desc
    ul
      li
        b: +ext_a("https://www.credly.com/badges/e89fab40-7d10-4c85-b1e6-f9548ec23ef8/public_url", "Certified Cloud-Native Platform Engineer (CNPE)")
        |, CNCF / Linux Foundation
      li
        b: +ext_a("https://www.credly.com/badges/40f2170e-692d-4aaa-a18e-a51d40a9d41b/public_url", "Certified Kubernetes Administrator (CKA)")
        |, CNCF / Linux Foundation
      li
        b: +ext_a("https://www.credly.com/badges/231c502b-2d41-4d9f-8233-4f4e63e38caa/public_url", "Certified Kubernetes Application Developer (CKAD)")
        |, CNCF / Linux Foundation
      li
        b: +ext_a("https://www.credly.com/badges/07c275c9-019c-47dc-be22-98f932094362/public_url", "Terraform Associate")
        |, HashiCorp
      li
        b: +ext_a("https://coursera.org/share/53e0dc7863382d6253086b8dcac2518d", "AWS DevOps Specialization")
        |, AWS
      li
        b: +ext_a("https://coursera.org/share/5b48cc6ac827b619d69056d0d6705b5b", "Google Cloud Digital Leader")
        |, Google
      li
        b: +ext_a("https://coursera.org/share/90a24b5165900b3e22011c322b4013f8", "Google IT Support Professional")
        |, Google
      li
        b: +ext_a("https://coursera.org/share/47e5a79207cec44a45fcf2cb0ca1f815", "Python IT Automation Certificate")
        |, Google
      //li
        b: +ext_a("https://www.credly.com/badges/fc8a7edc-8abb-4068-8a57-3d3c52400c9c/public_url", "Linux and Git Specialization")
        |, Linux Foundation
      li
        b: +ext_a("https://www.hackerrank.com/certificates/162646ca14f7", "Python Skill Certificate")
        |, HackerRank
      li
        b: +ext_a("https://www.freecodecamp.org/certification/smmy/javascript-algorithms-and-data-structures", "JavaScript DSA Certificate")
        |, HackerRank
      li
        b: +ext_a("https://www.hackerrank.com/certificates/76d08910bf9f", "REST API Skill Certificate")
        |, HackerRank
      li
        b: +ext_a("https://www.hackerrank.com/certificates/dcdb6c3c4463", "Problem Solving Skill Certificate")
        |, HackerRank
      br
      li #[b Top Performer], FieldNation
      li #[b MVP], Pillar
      li #[b Star Performer], Digital Healthcare Solutions
      // li #[b Recognized Contributor], Wikipedia
      span.darker i use arch btw
