section.description
  h1.target#description: a(href="#description") description
  .desc
    p.
      Hello! I am a self-taught technology professional with a strong background in
      #[em system administration] and #[em general programming], with proven hands-on
      experience in #[em modern dev-ops], #[em cloud-ops], and #[em IaC] work domains.
    p.
      I have a passion for learning and building things that are useful,
      sustainable, minimal, and easy to use. I put a lot of care to keep my work
      output #[em clean], #[em maintainable] and #[em well-documented].
    p.
      I'm also an active member of the open-source culture, always
      looking for opportunities to contribute and to assist the community.
