section.description
  h1.target#description: a(href="#description") description
  .desc
    p.
      HELO! I am a self-taught technology professional with effective hands-on
      experience in #[em modern platform engineering], #[em dev-ops], #[em cloud-ops], #[em IaC] and
      adjacent domains, with a strong background in #[em system administration] and #[em software programming].
    p.
      I'm constantly exploring new technologies and resources to improve my skills and
      stay up-to-date in this fast-evolving field.
