section.options
  h1.target#options: a(href="#options") options
  .desc
    ul

      li
        b.target#sysadmin: a(href="#sysadmin") --sys-admin
        .opt_desc
          p.
            I have in-depth experience of #[em linux server] administration, covering
            installation, configuration, optimization, hardening, and maintenance of
            various common linux distros such as Ubuntu, CentOS, Oracle, AmazonLinux, ArchLinux etc.
          p.
            I have hands-on knowledge of #[em DNS] and #[em Email server] administration too.
            I can configure and publish secure and performant DNS/Email servers with load balancing.
            In fact, I manage my own DNS, email, and web hosting service, and more.
          p.
            I also have above-average expertise about #[em Windows] systems, with working knowledge of #[em Mac OSX].

      li
        b.target#devops: a(href="#devops") --dev-ops
        .opt_desc
          p.
            I am involved in both classic and modern DevOps practices. I have current knowledge of
            container orchestration and management tools such as #[em Docker] and #[em Kubernetes].
            I have professional experience of managing production k8s clusters on #[em AWS] cloud.
            I have also worked on converting legacy workloads to #[em serverless] arch and maintaining them.
          p.
            I can set up a working DevOps environment from scratch, with a working CI/CD pipeline.
            I can do this with both modern container-based tools such as #[em k8s], #[em Helm], #[em Argo],
            #[em Gitlab/Github CI], as well as with legacy tools such as #[em Ansible] and #[em Jenkins].
          p.
            I also have experience of maintaining monitoring and alerting stacks comprised of
            #[em prometheus], #[em Grafana], #[em PagerDuty], #[em ELK], as well as in-depth
            observability toolkits such as #[em Graylog], #[em NewRelic], #[em DataDog], #[em Splunk] etc.

      li
        b.target#backend: a(href="#backend") --back-end
        .opt_desc
          p.
            Backend engineering is another point of interest to me. I have created multiple
            backend services with #[em Flask], catering to various production-grade use cases,
            as well as #[em api gateways] to establish communication between disparate systems.
            I mostly work with #[em Python]; I am also learning #[em Golang] as a low-level option.

      li
        b.target#automation: a(href="#automation") --automation
        .opt_desc
          p.
            I try to find a solution that is both efficient and easy to maintain. Automation is
            a natual fit in this field. I always look out for any repetitive tasks to convert into
            a simple script or button press. Some of my shortcut scripts have actually grown into
            full-fledged programs themselves.
          p.
            I have used #[em Python], #[em shell scripts], #[em Lua], and #[em Ansible] for automation,
            as well as trigger-based workflow tools like #[em n8n], #[em inotify] etc.

      li
        b.target#contrib: a(href="#contrib") --contrib
        .opt_desc
          p.
            outside of professional life, I am an enthusiastic and active fan of open-source.
            I have worked on #[em numerous open-source projects] such as a locale keyboard layout,
            a popular regional keyboard input system, a time tracking tool, a regex tool, as well
            as plugins for sublime text, vim, and other miscellaneous applications.
          p.
            I have also contributed with documentation for #[em freecodecamp], #[em ArchLinux wiki], #[em Wikipedia],
            and contributed #[em i18n] translations to many open-source projects.
          p.
            I helped maintain a local online Linux community to welcome new contributors and freshers
            into the tech world, and to educate on the values of open-source and digital safety.

      li
        b.target#misc: a(href="#misc") --misc
        .opt_desc
          p.
            I am a strong proponent of #[em selfhosting] and owning my data. I wrote an Ansible playbook
            to deploy and manange a self-hosted environment that includes webhosting, email, DNS, VPN, RSS, caldav and more.
          p.
            I'm also interested in the #[em decentralized web]. I closely follow the fediverse and indieweb
            movements.
          p.
            I am a #[strike huge] medium nerd, as is obvious from the design of this page.
            I love to tinker with tools, and I'm always looking for interesting stuff to learn, and for new ways to improve my skills.
          p #[span.dark I use arch btw.]
