section.options
  h1.target#options: a(href="#options") options
  .desc
    ul

      li
        b.target#devops: a(href="#devops") --dev-ops
        .opt_desc
          p.
            I am involved in both classic and modern DevOps practices, having current knowledge of
            dev-ops orchestration and management tools such as #[em Docker], #[em Kubernetes], #[em Terraform].
            My professional experience includes managing production k8s clusters on #[em AWS] cloud.
            I have also worked on converting legacy workloads to #[em serverless] paradigm and maintaining them.
          p.
            I can set up a working dev-ops environment from scratch, with a working CI/CD pipeline —
            doing this with both modern container-based tools such as #[em k8s], #[em Helm], #[em Argo],
            #[em Gitlab/Github CI], or alternatively with legacy tools such as #[em Ansible] and #[em Jenkins].
          p.
            My expertise on #[em observability] comprises of managing monitoring and alerting stacks built
            with #[em prometheus], #[em Grafana], #[em PagerDuty], as well as in-depth observability
            toolkits such as #[em Graylog], #[em NewRelic], #[em DataDog], #[em Splunk] etc.

      li
        b.target#sysadmin: a(href="#sysadmin") --sys-admin
        .opt_desc
          p.
            I bring in-depth experience of #[em linux server] administration, covering
            installation, configuration, optimization, hardening, and maintenance of
            various linux distros such as ArchLinux, AmazonLinux, Ubuntu, CentOS, Oracle etc.
          p.
            With my hands-on knowledge of #[em DNS] and #[em Email server] administration, I can
            configure and publish secure and performant DNS/Email servers with load balancing.
            In fact, I manage my own DNS, email, and web hosting service, and more.
          p.
            My expertise on #[em Windows] systems is above-average, with working knowledge of #[em Mac OSX].

      li
        b.target#backend: a(href="#backend") --back-end
        .opt_desc
          p.
            My lack of frontend design charm is balanced by my keen interest and experience in backend
            engineering. I have created multiple backend services with #[em Flask] and co., catering to
            various production-grade use cases, as well as #[em api gateways] to establish communication
            between disparate systems. My preferred language of coding is #[em Python];
            I'm also learning #[em Golang] as a low-level option.

      li
        b.target#automation: a(href="#automation") --automation
        .opt_desc
          p.
            When faced with work challenges, I always try to find a solution that is both efficient
            and easy to maintain. Automation is a natural fit in this field. I always look out for
            any repetitive tasks to convert into a simple script or button press. Some of my shortcut
            scripts have actually grown into actively maintained full-fledged programs covering some
            repetitive needs.
          p.
            My tools of the trade for automation and glue-coding includes, but is not limited to,
            #[em Python], #[em shell-scripts], #[em Lua], #[em Ansible], as well as specialized
            workflow tools like #[em Zapier], #[em n8n], #[em inotify] etc.

      li
        b.target#contrib: a(href="#contrib") --contrib
        .opt_desc
          p.
            outside of professional life, I am an enthusiastic and active supporter of open-source ideals.
            I have worked on #[em numerous open-source projects] such as a localized keyboard layout,
            a popular regional keyboard input system, a time tracking tool, a regex utility, a password
            manager, as well as plugins for sublime text, vim, and numerous miscellaneous applications.
          p.
            My contributions exist in documentation for #[em freecodecamp], #[em ArchLinux wiki],
            #[em Wikipedia], and improvements to #[em i18n] translations for many open-source projects.
          p.
            For a long time, I helped maintain multiple local online Linux-centric community to welcome
            freshers and new contributors into the digital world, and to educate on the values of
            open-source and digital safety.

      li
        b.target#misc: a(href="#misc") --misc
        .opt_desc
          p.
            As a strong proponent of #[em selfhosting] and owning my data, I wrote an Ansible playbook
            to deploy and manange a complete self-hosted environment that includes web hosting, email,
            DNS, VPN, code hosting, RSS, caldav and more.
          p.
            My other interests are the #[em decentralized web] and the #[em indie] community.
            I closely follow the fediverse and indieweb movements.
          p.
            I am a #[strike huge] mid-level nerd, which might be apparent from the design of this page.
            My field of work is complementary to my passion. I love to tinker with technology,
            and I'm always looking for interesting stuff to learn, and for new ways to improve my skills.
