section.options
  h1.target#options: a(href="#options") options
  .desc
    ul

      li
        b.target#devops: a(href="#devops") --dev-ops
        .opt_desc
          p.
            I am proficient in both modern #[em cloud-native] and classical devops methodologies, with
            hands-on experience in designing and managing scalable infrastructure solutions covering
            every step of the devops cycle including #[em ci/cd], testing, security and #[em observability].
          p.
            I've worked with everything from stalwarts like #[em Ansible] to upstarts like #[em Talos]
            and everything in between. I can set up a modern #[em Kubernetes] cluster with all the
            bells and whistles like #[em GitOps], #[em service-mesh], and so on, while also being
            able to dig down and troubleshoot os-level issues like iptables or incompatible libraries.

      li
        b.target#sysadmin: a(href="#sysadmin") --sys-admin
        .opt_desc
          p.
            I bring in-depth experience of #[em linux server] administration, covering installation,
            configuration, optimization, hardening, and maintenance of a high-performing system.
          p.
            I have experience setting up an managing all kinds of services including #[em DNS] servers,
            #[em email] servers, #[em database] hosts, #[em kvm] hosts, #[proxies] and so on.
            In fact, I manage my own DNS, email, calendars, and more.

      li
        b.target#programming: a(href="#programming") --programming
        .opt_desc
          p.
            My lack of frontend design charm is balanced by my experience in writing and maintaining
            backend programs. I have created multiple backend services and cli tools for various
            production-grade use cases. My preferred language of coding used to be #[em Python]. And
            I can pick up new languages and frameworks in a pinch.

      li
        b.target#automation: a(href="#automation") --automation
        .opt_desc
          p.
            I'm always looking out for any repetitive tasks to convert into a simple
            script or button press. Some of my shortcut scripts have actually grown into actively
            maintained full-fledged programs covering some repetitive needs.
          p.
            My tools of the trade for automation and glue-coding includes, but is not limited to,
            #[em Python], #[em shell-scripts], #[em Lua], #[em Ansible], as well as specialized
            workflow tools like #[em Zapier], #[em n8n], #[em inotify] etc.

      li
        b.target#misc: a(href="#misc") --misc
        .opt_desc
          p.
            As a strong proponent of #[em selfhosting] and #[em privacy], I main a suite of my own
            private services including hosting, #[em email server], #[em authoritative DNS], VPN,
            #[em LLM services] and more. I enjoy the challenge of keeping these services up and running securely.
          p.
            For a long time, I have also helped maintain multiple local linux- and opensource-related
            #[em tech communities] as a proponent of the values of open-source and digital safety,
            and have organized and spoken at some events and meetups.

          p.
            I am a #[strike huge] mid-level nerd, which might be apparent from the design of this page.
            My field of work is complementary to my passion. I love to tinker with technology,
            and I'm always looking for interesting stuff to learn, and for new ways to improve my skills.
