include /includes/mixins/ext_a

section.achievements
  h1.target#achievements: a(href="#achievements") achievements
  .desc
    ul
      li #[b Star Performer 2021], Digital Healthcare Solutions
      li
        b: +ext_a("https://coursera.org/share/90a24b5165900b3e22011c322b4013f8", "Google IT Support Professional")
        |, Google
      li
        b: +ext_a("https://coursera.org/share/53e0dc7863382d6253086b8dcac2518d", "AWS DevOps Specialization")
        |, AWS
      li
        b: +ext_a("https://coursera.org/share/5b48cc6ac827b619d69056d0d6705b5b", "Google Cloud Digital Leader")
        |, Google
      li
        b: +ext_a("https://coursera.org/share/47e5a79207cec44a45fcf2cb0ca1f815", "Python IT Automation Certificate")
        |, Google
      li
        b: +ext_a("https://www.credly.com/badges/fc8a7edc-8abb-4068-8a57-3d3c52400c9c/public_url", "Linux and Git Specialization")
        |, Linux Foundation
      li
        b: +ext_a("https://www.hackerrank.com/certificates/162646ca14f7", "Python Skill Certificate")
        |, HackerRank
      li
        b: +ext_a("https://www.freecodecamp.org/certification/smmy/javascript-algorithms-and-data-structures", "JavaScript DSA Certificate")
        |, HackerRank
      li
        b: +ext_a("https://www.hackerrank.com/certificates/76d08910bf9f", "REST API Skill Certificate")
        |, HackerRank
      li
        b: +ext_a("https://www.hackerrank.com/certificates/dcdb6c3c4463", "Problem Solving Skill Certificate")
        |, HackerRank
      li #[b Recognized Contributor], Wikipedia
