section.seealso
  h1.target#seealso: a(href="#seealso") see also
  .desc
    p
      a(href=links.linkedin rel="external nofollow noopener noreferrer").print: b linked-in
      |(4),
      |
      a(href=links.github rel="external nofollow noopener noreferrer").print: b github
      |(4),
      |
      a(href=links.blog rel="external").print: b articles
      |(7)

      //-
        |
        a(href=links.showcase).print: b showcase
        |(5)

      //-
        |
        |
        a(href="./portfolio.pug") #[b portfolio](7),
