section.seealso
  h1.target#seealso: a(href="#seealso") see also
  .desc
    p
      a(href="https://bdeshi.space" target="_blank").print: b articles
      |(7),
      |
      a(href="https://github.com/bdeshi" target="_blank" rel="external nofollow noopener noreferrer").print: b github
      |(1)
      //-
        |
        |
        a(href="./portfolio.pug") #[b portfolio](7),
