section.synopsis
  h1.target#synopsis: a(href="#synopsis") synopsis
  .desc
    p #[b #{name}]
      |  --#[a(href='#devops') dev-ops]
      |
      span.dimmer [#[em cloud], #[em k8s], #[em iac] ...]
      |  --#[a(href="#sysadmin") sys-admin]
      |
      span.dimmer [#[em linux], #[em kvm], #[em bash] ...]
    p #[b #{name}]
      |  --#[a(href='#programming') programming] --#[a(href="#automation") automation]
      |
      span.dimmer [#[em python], #[em go] ...]
    p #[b #{name}]
      |  --#[a(href='#misc') misc]
      |
      span.dimmer [#[em selfhosting], #[em opensource] ...]
    p #[b #{name}]
      |  --#[a(href='#history') history] --#[a(href='#contact') contact]
      |
      span.dimmer [#[em --help]]
